# --- Framework Core ---
fastapi==0.110.0
uvicorn==0.28.0

# --- Persistencia (PostgreSQL) ---
sqlalchemy==2.0.28
psycopg2-binary==2.9.9

# --- Validación de Datos ---
pydantic==2.6.4

# --- Logs Estructurados ---
structlog==24.1.0

# --- Utilidades ---
python-dotenv==1.0.1

# --- Testing ---
pytest==8.1.1
httpx==0.27.0